<%- include ('../layouts/admin-header') %>
    <body>
    <section>
        <div class="ad-movie">
            <div class="wrapper">
                <div class="body-slide-profile-body">
                    <div class="main-container">
                        <div class="col-9 wrap-profile user-admin" style="width: 100%;
                    background: #eee;">
                            <div class="profile-frame-ad">
                                <br />
                                <div class="head-profile-frame">
                                    <div class="h5-detail">Quản lý thống kê</div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
                                    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
                                            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
                                            crossorigin="anonymous"></script>
                                    <span class="line-detail"></span>
                                </div>
                                <div class="body-profile-frame-change ad-tk">
                                    <div class="col-12"> 
                                        <ul class="nav nav-tabs menu-status " style="    margin-top: 30px;
                                        justify-content: center; border-bottom: none">
                                            <li class="stt-list nav-item">
                                                <a class="nav-link link1 active" href="#change1" style="    color: #333;" data-bs-toggle="tab"
                                                    data-bs-target="#change1" role="tab" aria-controls="status"
                                                    aria-selected="true">Thống kế theo ngày</a>
                                            </li>
                                            <li class="stt-list nav-item">
                                                <a class="nav-link link1" href="#change2" style="    color: #333;" data-bs-toggle="tab"
                                                    data-bs-target="#change2" role="tab" aria-controls="status"
                                                    aria-selected="true">Thống kế theo tháng</a>

                                            </li>
                                            <li class="stt-list nav-item">
                                                <a class="nav-link link1" href="#change3" style="    color: #333;" data-bs-toggle="tab"
                                                    data-bs-target="#change3" role="tab" aria-controls="status"
                                                    aria-selected="true">Thống kế doanh thu phim</a>

                                            </li>
                                            <li class="stt-list nav-item">
                                                <a class="nav-link link1" href="#change4" style="    color: #333;" data-bs-toggle="tab"
                                                    data-bs-target="#change4" role="tab" aria-controls="status"
                                                    aria-selected="true">Thống kế doanh thu đồ ăn vặt</a>

                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="change1" role="tabpanel">
                                                <div class="container">
                                                    <canvas id="myChart"></canvas>
                                                </div>
                                                <form action="/admin/statistic/dayinmonth" method="" style="    text-align: center;">
                                                    <input type="hidden" class="dayNumbers" value="<%=dayNumbers%>">
                                                   
                                                    <input type="hidden" class="salesDay" value="<%=salesDay%>">
                                                    <input type="hidden" class="salesMonth" value="<%=salesMonth%>">
                                                    <input type="hidden" class="listFilm" value="<%=listFilm%>"> 
                                                    <input type="hidden" class="salesFilm" value="<%=salesFilm%>">
                                                    <input type="hidden" class="listSnack" value="<%=listSnack%>"> 
                                                    <input type="hidden" class="salesSnack" value="<%=salesSnack%>">
                                                    <input class="ipgetmonth" type="month" name="getmonth">
                                                    <button class="xemngay" type="button">Xem</button>
                                                </form>
                                                <script>
                                                    var daysArr=[];
                                                    var thisMonth=(new Date()).getMonth()+1;
                                                    var thisYear=(new Date()).getFullYear();
                                                    var dayNumbers=$('.dayNumbers').val();
                                                    var listFilm=$('.listFilm').val();
                                                    var salesFilm=$('.salesFilm').val();
                                                    var listSnack=$('.listSnack').val();
                                                    var salesSnack=$('.salesSnack').val();
                                                    for (var i=1;i<=dayNumbers;i++){
                                                        daysArr.push(i+'/'+thisMonth);
                                                    }
                                                    var salesDay=$('.salesDay').val();
                                                    var salesMonth=$('.salesMonth').val();
                                                   
                                                    let myChart = document.getElementById('myChart').getContext('2d');
                                                    // Global Options
                                                    Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                                    Chart.defaults.global.defaultFontSize = 18;
                                                    Chart.defaults.global.defaultFontColor = '#777';

                                                    let massPopChart = new Chart(myChart, {
                                                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: daysArr,
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: salesDay.split(','),
                                                                backgroundColor: [
                                                                    'rgb(254 199 88)',
                                                                ],
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU THÁNG '+thisMonth+'/'+thisYear,
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000'
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            }
                                                        }
                                                    });
                                                </script>
                                            </div>
                                            <div class="tab-pane" id="change2" role="tabpanel">
                                                <div class="container">
                                                    <canvas id="myChart1"></canvas>
                                                </div>
                                                <form action=""  style="    text-align: center;">
                                                    <input class="ipgetyear" type="number" min="1900" max="2099" step="1" value="2021" name="getyear"/>                                            
                                                    <button class="xemthang" type="button">Xem</button>
                                                </form>
                                                <script>
                                                    let myChart1 = document.getElementById('myChart1').getContext('2d');
                                                    // Global Options
                                                    Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                                    Chart.defaults.global.defaultFontSize = 18;
                                                    Chart.defaults.global.defaultFontColor = '#777';

                                                    let massPopChart1 = new Chart(myChart1, {
                                                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                                                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: salesMonth.split(','),
                                                                backgroundColor: [
                                                                    'rgb(254 199 88)',
                                                                ],
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU NĂM '+thisYear,
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000'
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            },
                                                        }
                                                    });
                                                </script>
                                            </div>
                                            <div class="tab-pane" id="change3" role="tabpanel">
                                                <div class="container">
                                                    <canvas id="myChart2"></canvas>
                                                </div>
                                                <script>
                                                    let myChart2 = document.getElementById('myChart2').getContext('2d');
                                                    // Global Options
                                                    Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                                    Chart.defaults.global.defaultFontSize = 10;
                                                    Chart.defaults.global.defaultFontColor = '#777';
                                                    var lengFilm=listFilm.split(',').length;
                                                    var backgroundArr=new Array(lengFilm);
                                                    for (var i=0;i<lengFilm;i++){
                                                        backgroundArr[i]='rgb(254 199 88)';
                                                    }
                                                    let massPopChart2 = new Chart(myChart2, {
                                                        type: 'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: listFilm.split(','),
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: salesFilm.split(','),
                                                                backgroundColor: backgroundArr,
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU PHIM',
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000',
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            },
                                                        }
                                                    });
                                                </script>
                                            </div>
                                            <div class="tab-pane" id="change4" role="tabpanel">
                                                <div class="container">
                                                    <canvas id="myChart3"></canvas>
                                                </div>
                                                <script>
                                                    let myChart3 = document.getElementById('myChart3').getContext('2d');
                                                    // Global Options
                                                    Chart.defaults.global.defaultFontFamily = 'sans-serif';
                                                    Chart.defaults.global.defaultFontSize = 10;
                                                    Chart.defaults.global.defaultFontColor = '#777';
                                                    
                                                    let massPopChart3 = new Chart(myChart3, {
                                                        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: listSnack.split(','),
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: salesSnack.split(','),
                                                                backgroundColor: backgroundArr,
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU ĐỒ ĂN VẶT',
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000',
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            },
                                                        }
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
<%- include ('../layouts/footer') %>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/profile.js"></script>
<script>
    $('.xemngay').click(function(e){
        e.preventDefault();
        var month=$('.ipgetmonth').val();
        $.ajax({
                url:"/admin/statistic/day-in-month",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({month:month}),
                success: function(result){
                    var daysArr=[];
                    for (var i=1;i<=result.dayNumbers;i++){
                        daysArr.push(i+'/'+result.thisMonth);
                    }
                    
                        massPopChart.destroy();
                        massPopChart = new Chart(myChart, {
                                                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: daysArr,
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: result.salesDay,
                                                                backgroundColor: [
                                                                    'rgb(254 199 88)',
                                                                ],
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU THÁNG '+result.thisMonth+'/'+result.thisYear,
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000'
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            }
                                                        }
                                                    });
                      }
        })
    })

    $('.xemthang').click(function(e){
        e.preventDefault();
        var year=$('.ipgetyear').val();
        $.ajax({
                url:"/admin/statistic/month-in-year",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({year:year}),
                success: function(result){
                        massPopChart1.destroy();
                        massPopChart1 = new Chart(myChart1, {
                                                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                                                        data: {
                                                            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                                                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                                                            datasets: [{
                                                                label: 'Doanh thu',
                                                                data: result.salesMonth,
                                                                backgroundColor: [
                                                                    'rgb(254 199 88)',
                                                                ],
                                                            }]
                                                        },
                                                        options: {
                                                            title: {
                                                                display: true,
                                                                text: 'DOANH THU NĂM '+result.thisYear,
                                                                fontSize: 25
                                                            },
                                                            legend: {
                                                                display: true,
                                                                position: 'right',
                                                                labels: {
                                                                    fontColor: '#000'
                                                                }
                                                            },
                                                            layout: {
                                                                padding: {
                                                                    left: 50,
                                                                    right: 0,
                                                                    bottom: 0,
                                                                    top: 0
                                                                }
                                                            },
                                                            tooltips: {
                                                                enabled: true
                                                            },
                                                        }
                                                    });
                      }
        })
    })
</script>

</html>