<%- include ('../layouts/admin-header') %>

    <body>

        <div class="wrapper-index">

            <div class="ad-movie">
                <div style="    display: flex;
            justify-content: space-between;">
                    <div class="h5-detail">Quản lý phim</div>
                    <button type="button" class="btn btn-danger btn-buy" data-toggle="modal"
                        data-target=".bd-example-modal-lg" style="    width: 70px;
                                        margin-top: 10px;
                                        height: 40px; margin-right: 7px;">+</button>
                </div>
                <form action="" class="formAdd" id="form-add">
                    <div class="modal-add modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm phim</h4>
                                    <button type="button" class="close closeAdd" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body-plus">
                                    <div class="modal-left">
                                        <div class="col-5 img-add">
                                            <img id="img-edit-item" class="imgAddPreview" src="/img/noimage.png"
                                                style="width: 100%;">
                                            <input type="file" class="form-control imgChangeAdd" name="image" id="img1"
                                                accept="image/png, image/jpeg, image/jpg" style="display: none;">
                                            <label class="btn-addimg" onclick="clearImage()" id="btn-edit-img-item" for="img1">Chọn ảnh</label>
                                            <script>
                                                function clearImage(){
                                                    setTimeout(() => {
                                                        $('.imgAddPreview').attr('src', '/img/noimage.png');
                                                    }, 1000);
                                                }
                                            </script>
                                            <p class="span-error-add alertAdd"></p>
                                        </div>
                                    </div>
                                    <div class="modal-right">
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Tên phim</label>
                                            <div class="input-ten">
                                                <div class="form-user">
                                                    <input class="input-sua nameENadd" id="nameEN" placeholder="Tên tiếng anh"
                                                        name="nameEN" type="text">
                                                    <span class="span-error-add"></span>
                                                </div>
                                                <div class="form-user">
                                                    <input class="input-sua nameVNadd" id="nameVN" placeholder="Tên tiếng việt"
                                                        name="nameVN" type="text">
                                                    <span class="span-error-add"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Đạo diễn</label>
                                            <div class="form-user">
                                                <input class="input-sua directorAdd" id="director" name="director" type="text">
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Diễn viên</label>
                                            <div class="form-user">
                                                <input class="input-sua actorAdd" id="actor" name="actor" type="text">
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Khởi chiếu</label>
                                            <div class="form-user">
                                                <input class="input-sua showdateAdd" id="date" name="showdate" type="date">
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Thời gian</label>
                                            <div class="form-user">
                                                <input class="input-sua timeAdd" id="time" name="time" type="number">
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Thể loại</label>
                                            <div class="form-user">
                                                <select class="input-sua" name="type" id="">
                                                    <option value="Kinh dị">Kinh dị</option>
                                                    <option value="Tình cảm">Tình cảm</option>
                                                    <option value="Hành động">Hành động</option>
                                                    <option value="Hài hước">Hài hước</option>
                                                    <option value="Hoạt hình">Hoạt hình</option>
                                                    <option value="Lịch sử">Lịch sử</option>
                                                </select>
                                                <span class="span-error"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Rating</label>
                                            <div style="display: flex; justify-content: center;">
                                                <div class="form-check rating">
                                                    <input checked class="form-check-input" value="18" type="radio"
                                                        name="agelimit" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs18.png">
                                                    </label>
                                                </div>
                                                <div class="form-check rating">
                                                    <input class="form-check-input" value="16" type="radio"
                                                        name="agelimit" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs16.png">
                                                    </label>
                                                </div>
                                                <div class="form-check rating">
                                                    <input class="form-check-input" value="13" type="radio"
                                                        name="agelimit" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs13.png">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Tình trạng</label>
                                            <div class="form-user">
                                                <select class="input-sua" name="status" id="">
                                                    <option value="Đang khởi chiếu">Đang khởi chiếu</option>
                                                    <option value="Sắp khởi chiếu">Sắp khởi chiếu</option>
                                                    <option value="Đã chiếu xong">Đã chiếu xong</option>
                                                </select>
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Chi tiết</label>
                                            <div class="form-user">
                                                <textarea class="input-sua-area  detailAdd" id="detail" name="detail" id=""
                                                    cols="20" rows="10"></textarea>
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Link Trailer</label>
                                            <div class="form-user">
                                                <input class="input-sua trailerIdAdd" id="trailer" name="trailerId" type="url">
                                                <span class="span-error-add"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="btn-save-new-item" class="btn btn-danger">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <span class="line-detail"></span>
                <table class="table table-striped  table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tên phim</th>
                            <th scope="col">Đạo diễn</th>
                            <th scope="col">Khởi chiếu</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col" style="width: 1%;">
                                <div class="btn-admin">



                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%films.forEach(function(fi){%>
                            <tr class="trClosest">
                                <th scope="row" style="width: 15%">
                                    <%if (fi.photo!="" ){%>
                                        <img class="tdImage" style="width: 100%"
                                            src="/img/films/<%=fi._id%>/<%=fi.photo%>" alt="">
                                        <%} else {%>
                                            <img class="tdImage" style="width: 100%" src="/img/noimage.png" alt="">
                                            <%}%>
                                </th>
                                <td style="width: 20%;">
                                    <div class="tdNameEN">
                                        <%=fi.nameEN%>
                                    </div>
                                    <div class="tdNameVN">
                                        <%=fi.nameVN%>
                                    </div>
                                </td>
                                <td class="tdDirector">
                                    <%=fi.director%>
                                </td>
                                <% var newDateArr=fi.showdate.split('-') %>
                                    <%var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0]; %>
                                        <td class="tdShowdate">
                                            <%=newDate%>
                                        </td>
                                        <td class="tdType">
                                            <%=fi.type%>
                                        </td>
                                        <td>
                                            <img class="tdRating img-cs" style="width:50px"
                                                src="/img/cs<%=fi.agelimit%>.png">
                                        </td>
                                        <td>
                                            <div class="tdStatus">
                                                <%=fi.status%>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ad-btn" style="width:60px">
                                                <button type="button" id="<%=fi._id%>"
                                                    class="deleteBtn btn-close btn-xoa" aria-label="Close"></button>
                                                <button type="button" class="btn btn-danger btn-buy editBtn"
                                                    id="<%=fi._id%>" style="width:100%; margin-top: 20px">Sửa</button>
                                                <button type="button" class="btn btn-danger btn-buy detailBtn"
                                                    id="<%=fi._id%>" style="    margin-top: 20px;
                                            padding: 5px;
                                            width: 80px;">Chi tiết</button>
                                            </div>
                                        </td>
                            </tr>
                            <%})%>
                    </tbody>
                    <!-- form nút sửa -->
                    <div id="myModal" class="modal" style="margin-top: -50px; height: 1000px;">
                        <div class="modal-content" style="width: 70%; font-size: 16px;">
                            <div class="modal-header">
                                <h4 class="modal-title">Sửa phim</h4>
                                <button type="button" class="suaclose" data-dismiss="modal">&times;</button>
                            </div>
                            <form class="formEdit" action="" id="form-edit">
                                <div class="modal-body-plus">
                                    <div class="modal-left">
                                        <div class="col-5 img-add">
                                            <img id="img-edit-item" class="photoEdit imgEditPreview"
                                                src="/img/noimage.png" style="width: 100%;">
                                            <input type="file" class="form-control imgChangeEdit" name="image" id="img2"
                                                accept="image/png, image/jpeg, image/jpg" style="display: none;">
                                            <label style="font-weight: 700;" class="btn-addimg" id="btn-edit-img-item"
                                                for="img2">Chọn ảnh</label>
                                        </div>
                                    </div>
                                    <div class="modal-right">
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Tên phim</label>
                                            <div class="input-ten">
                                                <div class="form-user">
                                                    <input class="nameENedit input-sua" id="nameENEdit" name="nameEN"
                                                        placeholder="Tên tiếng anh" type="text">
                                                    <span class="span-error-edit"></span>
                                                </div>
                                                <div class="form-user">
                                                    <input class="nameVNedit input-sua" id="nameVN" name="nameVN"
                                                        placeholder="Tên tiếng việt" type="text">
                                                    <span class="span-error-edit"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Đạo diễn</label>
                                            <div class="form-user">
                                                <input class="directorEdit input-sua" id="director" name="director"
                                                    type="text">
                                                <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Diễn viên</label>
                                            <div class="form-user">
                                                <input class="actorEdit input-sua" id="actor" name="actor" type="text">
                                                <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Khởi chiếu</label>
                                            <div class="form-user">
                                                <input class="showdateEdit input-sua" id="date" name="showdate"
                                                    type="date">
                                                <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Thời gian</label>
                                            <div class="form-user">
                                                <input class="timeEdit input-sua" id="time" name="time" type="number">
                                                <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Thể loại</label>
                                            <select class="typeEdit input-sua" name="type" id="">
                                                <option value="Kinh dị">Kinh dị</option>
                                                <option value="Tình cảm">Tình cảm</option>
                                                <option value="Hành động">Hành động</option>
                                                <option value="Hài hước">Hài hước</option>
                                                <option value="Hoạt hình">Hoạt hình</option>
                                                <option value="Lịch sử">Lịch sử</option>
                                            </select>
                                        </div>
                                        <div class="agelimitEdit ad-phim">
                                            <label class="label-chitiet" for="">Rating</label>
                                            <div class="" style="display: flex; justify-content: center;">
                                                <div class="form-check rating">
                                                    <input class="form-check-input rating18" value="18" type="radio"
                                                        name="agelimit" id="flexRadioDefault1" checked>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs18.png">
                                                    </label>
                                                </div>
                                                <div class="form-check rating">
                                                    <input class="form-check-input rating16" value="16" type="radio"
                                                        name="agelimit" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs16.png">
                                                    </label>
                                                </div>
                                                <div class="form-check rating">
                                                    <input class="form-check-input rating13" value="13" type="radio"
                                                        name="agelimit" id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <img class="img-cs" style="width: 50%;" src="/img/cs13.png">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Tình trạng</label>
                                            <select class="statusEdit input-sua" name="status" id="">
                                                <option value="Đang khởi chiếu">Đang khởi chiếu</option>
                                                <option value="Sắp khởi chiếu">Sắp khởi chiếu</option>
                                                <option value="Đã chiếu xong">Đã chiếu xong</option>
                                            </select>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Chi tiết</label>
                                            <div class="form-user">
                                                <textarea class="input-sua-area detailEdit" name="detail" id="detail"
                                                    cols="20" rows="10"></textarea>
                                                <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="ad-phim">
                                            <label class="label-chitiet" for="">Trailer</label>
                                            <div class="form-user">
                                                <input class="input-sua trailerIdEdit" id="trailer" name="trailerId"
                                                    type="url">
                                                <span class="span-error-edit"></span>
                                            </div>
                                            <input type="hidden" class="pimage" name="pimage">
                                            <input type="hidden" name="id" class="idFilm">
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <p class="alertEdit" style="color: red;"></p>
                                    <button type="submit" id="btn-save-change-item" class="btn btn-danger">Sửa</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- form nút chi tiết -->
                    <div id="chitietModal" class="modal" style="margin-top: -50px;  height: 1000px;">
                        <div class="modal-content" style="width: 70%; font-size: 16px; height: 600px;">
                            <div class="modal-header">
                                <h4 class="modal-title">Chi tiết phim</h4>
                                <button type="button" class="chitietclose" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body-plus">
                                <div class="modal-left">
                                    <div class="col-5 img-add">
                                        <img id="img-edit-item" class="photoDetail" src="" style="width: 100%;">

                                    </div>
                                </div>
                                <div class="modal-right">
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Tên phim</label>
                                        <div>
                                            <div class="nameENdetail">THE DEVIL MADE ME DO IT</div>
                                            <div class="nameVNdetail">THE CONJURING: MA XUI QUỶ KHIẾN</div>
                                        </div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Đạo diễn</label>
                                        <div class="directorDetail">Taylor Sheridan</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" style="flex: 1;" for="">Diễn viên</label>
                                        <div class="actorDetail" style="flex: 3.2;">Taylor Sheridan, Angelina Jolie
                                        </div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Khởi chiếu</label>
                                        <div class="dateshowDetail">15/11/2021</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Thời gian</label>
                                        <div class="timeDetail">100 phút</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Thể loại</label>
                                        <div class="typeDetail">Hành động</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Rating</label>
                                        <div>
                                            <img class="agelimitDetail img-cs" style="width:50px" src="">
                                        </div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Tình trạng</label>
                                        <div class="statusDetail">Đang khởi chiếu</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Chi tiết</label>
                                        <div class="detailDetail" style="width: 75%">Angelina Jolie tái xuất với siêu
                                            phẩm
                                            hành động nghẹt thở cùng biên kịch được đề cử Oscar -
                                            Taylor Sheridan Kẻ Nguyền Ta Chết xoay quanh cuộc truy
                                            sát kinh hoàng giữa băng đảng giết thuê và cậu bé Connor
                                            -
                                            nhân chứng cuối cùng của một vụ trọng án.</div>
                                    </div>
                                    <div class="ad-phim">
                                        <label class="label-chitiet" for="">Trailer</label>
                                        <iframe class="trailerIdDetail" width="560" height="315"
                                            src="https://www.youtube.com/embed/i71pUqFLZis" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        </iframe>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </table>

            </div>
    </body>
    <%- include ('../layouts/footer') %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/validate-thitran.js"></script>
        <script>
            //validate
            var nameENadd=$('.nameENadd');
            var nameVNadd=$('.nameVNadd');
            var directorAdd=$('.directorAdd');
            var actorAdd=$('.actorAdd');
            var showdateAdd=$('.showdateAdd');
            var detailAdd=$('.detailAdd');
            var trailerIdAdd=$('.trailerIdAdd');
            var timeAdd=$('.timeAdd');
            var imageAdd=$('.imgChangeAdd');

            var nameENedit=$('.nameENedit');
            var nameVNedit=$('.nameVNedit');
            var directorEdit=$('.directorEdit');
            var actorEdit=$('.actorEdit');
            var showdateEdit=$('.showdateEdit');
            var detailEdit=$('.detailEdit');
            var trailerIdEdit=$('.trailerIdEdit');
            var timeEdit=$('.timeEdit');
            var photoEdit = $('.photoEdit')
            var dateshowEdit = $('.showdateEdit');
            var statusEdit = $('.statusEdit');
            var agelimitEdit = $('.agelimitEdit');
            var typeEdit = $('.typeEdit');
            isRequired(nameENadd,'add');
            isRequired(nameVNadd,'add');
            isRequired(directorAdd,'add');
            isRequired(actorAdd,'add');
            isRequired(showdateAdd,'add');
            isRequired(detailAdd,'add');
            isRequired(trailerIdAdd,'add');
            isNumberLength(timeAdd,'add');
            isRequired(timeAdd,'add');
            isRequired(imageAdd,'add');
            
            isRequired(nameENedit,'edit');
            isRequired(nameVNedit,'edit');
            isRequired(directorEdit,'edit');
            isRequired(actorEdit,'edit');
            isRequired(showdateEdit,'edit');
            isRequired(trailerIdEdit,'edit');
            isRequired(detailEdit,'edit');
            isNumberLength(timeEdit,'edit');
            isRequired(timeEdit,'edit');

      
        
            var modalAdd = document.querySelector('.modal-add');
            var modal = document.getElementById('myModal');
            var modalchitiet = document.getElementById('chitietModal');
            var span = document.getElementsByClassName("suaclose")[0];
            var spanchitiet = document.getElementsByClassName("chitietclose")[0];
            var photoDetail = $('.photoDetail')
            var nameENdetail = $('.nameENdetail');
            var nameVNdetail = $('.nameVNdetail');
            var directorDetail = $('.directorDetail');
            var actorDetail = $('.actorDetail');
            var dateshowDetail = $('.dateshowDetail');
            var timeDetail = $('.timeDetail');
            var statusDetail = $('.statusDetail');
            var agelimitDetail = $('.agelimitDetail');
            var detailDetail = $('.detailDetail');
            var trailerIdDetail = $('.trailerIdDetail');
            var typeDetail = $('.typeDetail');

            var tdNameEN;
            var tdNameVN
            var tdDirector;
            var tdShowdate;
            var tdType;
            var tdRating;
            var tdStatus;
            var tdImage;
            // btn.onclick = function () {
            //     modal.style.display = "block";
            // }
            // btnchitiet.onclick = function () {
            //     modalchitiet.style.display = "block";
            // }
            $('.closeAdd').click(function(){
                $('.span-error-add').html(null);
            })
            span.onclick = function () {
                $('.span-error-edit').html(null);
                modal.style.display = "none";
            }
            spanchitiet.onclick = function () {
                modalchitiet.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modalAdd) {
                    $('.span-error-add').html(null);
                    $('.imgAddPreview').attr('src', '/img/noimage.png');
                    $('.imgChangeAdd').val(null);
                }
                else if (event.target == modal) {
                    modal.style.display = "none";
                    $('.span-error-edit').html(null);
                    $('.imgAddPreview').attr('src', '/img/noimage.png');
                    $('.imgChangeAdd').val(null);
                    $('.imgChangeEdit').val(null);
                } else if (event.target == modalchitiet) {
                    modalchitiet.style.display = "none";
                }
            }

            //nut chi tiet ajax

            $('.detailBtn').each(function () {
                var $this = $(this);
                var id = $this.attr('id');
                $this.on('click', function () {
                    $.ajax({
                        url: "/admin/film/detailBtn",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ id: id }),
                        success: function (result) {
                            if (result.film.photo != "") {
                                photoDetail.attr('src', '/img/films/' + id + '/' + result.film.photo)
                            } else {
                                photoDetail.attr('src', '/img/noimage.png')
                            }
                            nameENdetail.text(result.film.nameEN);
                            nameVNdetail.text(result.film.nameVN);
                            directorDetail.text(result.film.director);
                            actorDetail.text(result.film.actor);
                            typeDetail.text(result.film.type);
                            var newDateArr = result.film.showdate.split('-');
                            var newDate = newDateArr[2] + '/' + newDateArr[1] + '/' + newDateArr[0];
                            dateshowDetail.text(newDate);
                            timeDetail.text(result.film.time);
                            statusDetail.text(result.film.status);
                            agelimitDetail.attr('src', '/img/' + 'cs' + result.film.agelimit + '.png');
                            detailDetail.text(result.film.detail);
                            trailerIdDetail.attr('src', 'https://www.youtube.com/embed/' + result.film.trailerId);
                            modalchitiet.style.display = "block";
                        }
                    })
                })

            })

            //nut sua ajax
            $('.editBtn').each(function () {
                var $this = $(this);
                var id = $this.attr('id');
                $this.on('click', function () {
                    tdNameEN = $this.closest('.trClosest').find('.tdNameEN');
                    tdNameVN = $this.closest('.trClosest').find('.tdNameVN');
                    tdDirector = $this.closest('.trClosest').find('.tdDirector');
                    tdShowdate = $this.closest('.trClosest').find('.tdShowdate');
                    tdType = $this.closest('.trClosest').find('.tdType');
                    tdRating = $this.closest('.trClosest').find('.tdRating');
                    tdStatus = $this.closest('.trClosest').find('.tdStatus');
                    tdImage = $this.closest('.trClosest').find('.tdImage');
                    $.ajax({
                        url: "/admin/film/editBtn",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ id: id }),
                        success: function (result) {
                            if (result.film.photo != "") {
                                photoEdit.attr('src', '/img/films/' + id + '/' + result.film.photo)
                            } else {
                                photoEdit.attr('src', '/img/noimage.png')
                            }
                            nameENedit.val(result.film.nameEN);
                            nameVNedit.val(result.film.nameVN);
                            directorEdit.val(result.film.director);
                            actorEdit.val(result.film.actor);
                            dateshowEdit.val(result.film.showdate);
                            timeEdit.val(result.film.time);
                            statusEdit.val(result.film.status);
                            detailEdit.val(result.film.detail);
                            trailerIdEdit.val('https://www.youtube.com/embed/' + result.film.trailerId);
                            $('.pimage').val(result.film.photo);
                            $('.idFilm').val(result.film._id);
                            // agelimitEdit.html(result.agelimitAjax);
                            if (($('.rating13').val()) == result.film.agelimit) {
                                $('.rating13').prop('checked', true);
                            }
                            if (($('.rating16').val()) == result.film.agelimit) {
                                $('.rating16').prop('checked', true);
                            }
                            if (($('.rating18').val()) == result.film.agelimit) {
                                $('.rating18').prop('checked', true);
                            }
                            statusEdit.html(result.statusAjax);
                            modal.style.display = "block";          
                        }
                    })
                })

            })
            //Sua phim

            $('#btn-save-change-item').on('click', function (e) {
                var check=true;
                var mes='Vui lòng nhập';
                // checkform([nameENedit,nameVNedit,directorEdit,actorEdit,showdateEdit,timeEdit,detailEdit,trailerIdEdit],'edit',mes);
                $('.span-error-edit').each(function(){
                    if ($(this).text()!="") check=false;
                })
                if (check==true){
                    var formm = $('.formEdit')[0];
                    var data = new FormData(formm);
                    $.ajax({
                        url: "/admin/film/edit-film",
                        type: "POST",
                        enctype: "multipart/form-data",
                        cache: false,
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (result) {
                            if (result.noti != "") $('.alertEdit').text(result.noti);
                            else {
                                tdNameEN.text(nameENedit.val());
                                tdNameVN.text(nameVNedit.val());
                                tdDirector.text(directorEdit.val());
                                var newDateArr = dateshowEdit.val().split('-');
                                var newDate = newDateArr[2] + '/' + newDateArr[1] + '/' + newDateArr[0];
                                tdShowdate.text(newDate);
                                tdType.text(typeEdit.val());
                                tdStatus.text(statusEdit.val());
                                tdImage.attr('src', result.imageAjax);
                                tdRating.attr('src', '/img/cs' + result.agelimit + '.png');
                                modal.style.display = "none";
                            }
                        }
                    });
                }
                e.preventDefault();
            })

            //Them phim
            $('#btn-save-new-item').on('click', function (e) {
                var mes ='Vui lòng nhập trường này';
                var check=true;
                checkform([nameENadd,nameVNadd,directorAdd,actorAdd,showdateAdd,timeAdd,detailAdd,trailerIdAdd],'add',mes);
                checkform([imageAdd],'add','Vui lòng thêm hình ảnh');
                $('.span-error-add').each(function(){
                    if ($(this).text()!="") check=false;
                })
                if (check==true){
                    var formm = $('.formAdd')[0];
                    var data = new FormData(formm);
                    $.ajax({
                        url: "/admin/film/add-film/",
                        type: "POST",
                        enctype: "multipart/form-data",
                        cache: false,
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (result) {
                            if (result.noti != "") $('.alertAdd').text(result.noti);
                            else {
                                // Set the URL to whatever it was plus "#".
                                url = document.URL + "#";
                                location = "#";

                                //Reload the page
                                location.reload(true);
                                }
                            }
                        });
                    }
                e.preventDefault();
            })

            //xoa phim
            $('.deleteBtn').each(function () {
                var $this = $(this);
                var id = $this.attr('id');
                var trClosest = $this.closest('.trClosest')
                $this.on('click', function () {
                    if (confirm('Bạn có chắc chắn xóa ?')) {
                        $.ajax({
                            url: "/admin/film/delete-film",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({ id: id }),
                            success: function (result) {
                                trClosest.remove();
                            }
                        })
                    }

                })

            })
        </script>
        <script>
            $('a.confirmDeletion').on('click', function () {
                if (!confirm('Confirm Deletion ? '))
                    return false;
            })
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(".imgEditPreview").attr('src', e.target.result);
                        $(".imgAddPreview").attr('src', e.target.result);

                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }



            $(".imgChangeAdd").change(function () {
                readURL(this);
            })

            $(".imgChangeEdit").change(function () {
                readURL(this);
            })




        </script>

        </html>