<%- include ('./layouts/header') %>

    <body>
        <!-- slide poster phim -->
        <div class="poster-index">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <%films.forEach(function(film){%>
                    <a class="item-slide" href="/film/detail/<%=film.slug%>"><img class="poster-slide"
                            src="/img/films/<%=film._id%>/<%=film.photo%>" alt="Owl Image"></a>
                    <%})%>
            </div>
        </div>
        <!-- nav phim đang chiếu/phim sắp chiếu -->
        <div class="nav-list">
            <nav>
                <div class="nav nav-tabs nav-tablist" id="nav-tab" role="tablist">
                    <button class="nav-link linklist active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">PHIM ĐANG CHIẾU</button>
                    <button class="nav-link linklist" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">PHIM SẮP CHIẾU</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <!-- noi dung trong phim dang chieu -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="main" id="pdc">
                        <div class="time-index">

                            <!-- <div id="demo-detail" class="owl-carousel owl-theme"> -->
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="1-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="1-outlined">MONDAY
                                        01/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="2-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="2-outlined">TUESDAY
                                        01/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="3-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="3-outlined">WEDNESDAY
                                        03/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="4-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="4-outlined">THURSDAY
                                        04/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="5-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="5-outlined">FRIDAY
                                        05/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="6-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="6-outlined">SATURDAY
                                        06/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="7-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="7-outlined">SUNDAY
                                        07/11</label>
                                </div>
                                <!-- <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="8-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="8-outlined">MONDAY
                                        08/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="9-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="9-outlined">TUESDAY
                                        09/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="10-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="10-outlined">WEDNESDAY
                                        10/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="11-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="11-outlined">THURSDAY
                                        11/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="12-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="12-outlined">FRIDAY
                                        12/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="13-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="13-outlined">SATURDAY
                                        13/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="14-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="14-outlined">SUNDAY
                                        14/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="15-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="15-outlined">MONDAY 15/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="16-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="16-outlined">TUESDAY 16/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="17-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="17-outlined">WEDNESDAY
                                        17/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="18-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="18-outlined">THURSDAY
                                        18/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="19-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="19-outlined">FRIDAY 19/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="20-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="20-outlined">SATURDAY
                                        20/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="21-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="21-outlined">SUNDAY 21/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="22-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="22-outlined">MONDAY 22/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="23-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="23-outlined">TUESDAY 23/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="24-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="24-outlined">WEDNESDAY
                                        24/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="25-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="25-outlined">THURSDAY
                                        25/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="26-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="26-outlined">FRIDAY 26/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="27-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="27-outlined">SATURDAY
                                        27/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="28-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="28-outlined">SUNDAY 28/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="29-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="29-outlined">MONDAY 29/11</label>
                                </div>
                                <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="30-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="30-outlined">TUESDAY
                                        30/11</label>
                                    </div>
                                    <div>
                                    <input type="radio" class="btn-check" name="options-outlined" id="31-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark btn-time-index" for="31-outlined">THURSDAY 31/11</label>
                                </div> -->
                            <!-- </div> -->
                        </div>
                        <span class="line-list" style="width: 94%"></span>
                        <div class="flex-poster">
                            <% films.forEach(function(film){ %>
                                <div class="poster-movie-div">
                                    <div class="flex-title">
                                        <a href="#">
                                            <div class="flex-cs">
                                                <div class="h6-poster">
                                                    <%=film.nameEN%>
                                                </div>
                                                <div class="side-poster">
                                                    <%=film.nameVN%>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="cs">
                                            <img class="img-cs" <% if (film.agelimit==18){%>
                                            src="/img/cs18.png">
                                            <%} else if (film.agelimit==16){%>
                                                src="/img/cs16.png">
                                                <%}else {%>
                                                    src="/img/cs13.png">
                                                    <%}%>

                                        </div>

                                    </div>
                                    <div class="flex-time">
                                        <a href="/film/detail/<%=film.slug%>" class="item-slide"><img
                                                class="poster-movie" src="/img/films/<%=film._id%>/<%=film.photo%>"></a>
                                        <div class="flex-time-detail">
                                            <%var check=false;%>
                                                <% film.showtime.forEach(function(st){ %>
                                                    <%if (st.date==dateRq){ %>
                                                        <% check=true %>
                                                            <%st.time.forEach(function(ti){%>
                                                                <button type="button"
                                                                    class="btn btn-outline-warning btn-time">
                                                                    <%=ti%>
                                                                </button>
                                                                <%}) }%>
                                                                    <%})%>
                                                                        <%if (check==false){%>
                                                                            <h1>không có suất chiếu nào</h1>
                                                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                                <%}) %>

                        </div>
                    </div>
                </div>
                <!-- noi dung trong phim sap chieu -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="flex-coming" id="psc">
                        <%filmc.forEach(function(film){%>
                            <div class="title-coming">

                                <a class="item-slide"><img class="poster-movie"
                                        src="/img/films/<%=film._id%>/<%=film.photo%>"></a>
                                <div class="flex-title">
                                    <div class="flex-cs">
                                        <div class="h6-poster" style="font-size: 1rem;">
                                            <%=film.nameEN%>
                                        </div>
                                        <div class="side-poster" style="font-size: .9rem;">
                                            <%=film.nameVN%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>

                    </div>
                </div>
            </div>
        </div>
    </body>

    <%- include ('./layouts/footer') %>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
        <script>
            $(document).ready(function () {

                $("#owl-demo").owlCarousel({

                    autoPlay: 4000,

                    items: 1,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]

                });

            });
        </script>
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <script src="js/owl.carousel.js"></script>
        <script>
            $(".btn-psc").click(function () {
                $('html, body').animate({
                    scrollTop: $("#nav-profile-tab #nav-profile").offset().top
                }, 2000);
            });
        </script>
        <!-- <script>
            $(document).ready(function () {

                $("#demo-detail").owlCarousel({
                    stopOnHover: true,
                    items: 7,
                    paginationSpeed: 1000,
                    goToFirstSpeed: 2000,
                    autoHeight: true,
                    transitionStyle: "fade"
                });

            });
        </script> -->