<%- include ('./layouts/header') %>

    <body>
        <!-- slide poster phim -->
        <div class="poster-index">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <%filmslide.forEach(function(film){%>
                    <a href="/film/detail/<%=film.slug%>"><img class="poster-slide"
                            src="/img/films/<%=film._id%>/<%=film.photo%>" alt="Owl Image"></a>
                    <%})%>
            </div>
        </div>
        <!-- nav phim đang chiếu/phim sắp chiếu -->
        <div class="nav-list">
            <nav>
                <div class="nav nav-tabs nav-tablist" id="nav-tab" role="tablist">
                    <button class="nav-link linklist active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">PHIM ĐANG CHIẾU</button>
                    <button class="nav-link linklist" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">PHIM SẮP CHIẾU</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <!-- noi dung trong phim dang chieu -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="main" id="pdc">
                        <div class="time-index">

                            <div id="demo-detail" class="owl-carousel owl-theme">
                                <%dayWeek.forEach(function(dw){%>
                                    <div>
                                        <% var day= (dw.getDate()<10)?("0"+dw.getDate()):dw.getDate();%>
                                        <% var month= (dw.getMonth()<10)?("0"+(dw.getMonth()+1)):(dw.getMonth()+1);%>
                                        <a href="/<%=dw.getTime()%>">
                                        <input type="radio" class="btn-check" name="options-outlined" id="1-outlined"
                                            autocomplete="off">
                                        <label class="btn btn-outline-dark btn-time-index" > 
                                            <%if(dw.getDay()==0){%>
                                                SUNDAY
                                            <%}; if(dw.getDay()==1){%>
                                                MONDAY
                                            <%};if(dw.getDay()==2){%>
                                                TUESDAY
                                            <%};if(dw.getDay()==3){%>
                                                WEDNESDAY
                                            <%};if(dw.getDay()==4){%>
                                                THURSDAY
                                            <%};if(dw.getDay()==5){%>
                                                FRIDAY
                                            <%};if(dw.getDay()==6){%>
                                                SATURDAY
                                            <%}%>
                                            <%=day+'/'+month%></label>
                                        </a>
                                    </div> 
                                <%})%>
                                </div>
                                 
                        </div>
                        <span class="line-list" style="width: 94%"></span>
                        <div class="flex-poster">
                            <% var newDateArr = dateRq.split('-') %>
                            <%var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0]; %>
                            <% var today = new Date(); %>
                            <%if (dateRq == today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate()<10?"0"+today.getDate():today.getDate())){%>
                                <h3 class="h3-date">Hôm nay</h3>
                            <%} else {%>
                                <h3 class="h3-date"><%=newDate%></h3>
                            <%}%>
                           
                            <% if (films.length !=0){%>
                                <% films.forEach(function(film){ %>
                                    <div class="poster-movie-div">
                                        <div class="flex-title">
                                            <a href="/film/detail/<%=film.slug%>">
                                                <div class="flex-cs">
                                                    <div class="h6-poster">
                                                        <%=film.nameEN%>
                                                    </div>
                                                    <div class="side-poster">
                                                        <%=film.nameVN%>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="cs">
                                                <img class="img-cs" <% if (film.agelimit==18){%>
                                                src="/img/cs18.png">
                                                <%} else if (film.agelimit==16){%>
                                                    src="/img/cs16.png">
                                                    <%}else {%>
                                                        src="/img/cs13.png">
                                                        <%}%>
    
                                            </div>
    
                                        </div>
                                        <div class="flex-time">
                                            <a href="/film/detail/<%=film.slug%>" ><img
                                                    class="poster-movie" src="/img/films/<%=film._id%>/<%=film.photo%>"></a>
                                            <div class="flex-time-detail">
                                                <%film.showtime.sort(function(a, b){%>
                                                    <%if (a.time.toLowerCase() < b.time.toLowerCase()) {return -1;}%>
                                                    <%if (a.time.toLowerCase() > b.time.toLowerCase()) {return 1;}%>
                                                    <%return 0;%>
                                                <%});%>
                                                             
                                                    <% film.showtime.forEach(function(st){ %>
                                                        <%if (st.date==dateRq && st.closed==0){ %>
                                                            
                                                                    <a href="/order?date=<%=st.date%>&time=<%=st.time%>&nameEN=<%=st.nameEN%>"
                                                                        class="btn btn-outline-warning btn-time">
                                                                        <%var Ctime=(st.time.split(':'))[0];%>
                                                                        <%if (Ctime>=12){%>
                                                                            <%=st.time%> PM
                                                                        <%} else {%>
                                                                            <%=st.time%> AM
                                                                        <%}%>
                                                                          
                                                                    </a>
                                                                    <% } else if (st.date==dateRq && st.closed==1){%>
                                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                                            <%var Ctime=(st.time.split(':'))[0];%>
                                                                            <%if (Ctime>=12){%>
                                                                                <%=st.time%> PM
                                                                            <%} else {%>
                                                                                <%=st.time%> AM
                                                                            <%}%>
                                                                              
                                                                        </a>
                                                                    <%} %>
                                                                        <%})%>
                                                                            
                                            </div>
                                        </div>
                                    </div>
                                    <%}) %>
    
                            <%} else {%>
                               <h1>Không có phim nào được chiếu trong ngày</h1> 
                            <%}%>
                            
                        </div>
                    </div>
                </div>
                <!-- noi dung trong phim sap chieu -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="flex-coming" id="psc">
                        <%filmc.forEach(function(film){%>
                            <a href="/film/detail/<%=film.slug%>">
                                <div class="item-slide">
                            <div class="title-coming">

                                <a href="/film/detail/<%=film.slug%>" ><img class="poster-movie"
                                        src="/img/films/<%=film._id%>/<%=film.photo%>"></a>
                                <div class="flex-title">
                                    <div class="flex-cs">
                                        <div class="h6-poster" style="font-size: 1rem;">
                                            <%=film.nameEN%>
                                        </div>
                                        <div class="side-poster" style="font-size: .9rem;">
                                            <%=film.nameVN%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                            <%})%>

                    </div>
                </div>
            </div>
        </div>
    </body>

    <%- include ('./layouts/footer') %>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
        <script>
            $(document).ready(function () {

                $("#owl-demo").owlCarousel({

                    autoPlay: 4000,

                    items: 1,
                    itemsDesktop: [1199, 3],
                    itemsDesktopSmall: [979, 3]

                });

            });
        </script>
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <script src="js/owl.carousel.js"></script>
        <script>
            $(".btn-psc").click(function () {
                $('html, body').animate({
                    scrollTop: $("#nav-profile-tab #nav-profile").offset().top
                }, 2000);
            });
        </script>
        <script>
            $(document).ready(function () {

                $("#demo-detail").owlCarousel({
                    stopOnHover: true,
                    items: 7,
                    paginationSpeed: 1000,
                    goToFirstSpeed: 2000,
                    autoHeight: true,
                    transitionStyle: "fade"
                });

            });
        </script>