<%- include ('../layouts/header') %>

    <body>


        <!-- menu -->
        <div class="wrapper-index">



            <!-- list action bên trái, đưa ra 1 cái ejs để link vào hiển thị nội dung -->
            <div class="account">
                <%- include ('../layouts/user-header') %>



                <!-- nội dung hiển thị  -->
                <div class="details">
                    <div class="main1">
                        <h3>Tài khoản của bạn</h3>
                        <p>Thông tin cá nhân của bạn</p>
                    </div>
                    <div class="main2" style="padding: 50px">
                        <form action="">
                            <div class="infor-frame"
                                style=" display: flex; align-items: flex-start; flex-direction: row;">
                                <div class="left-info">
                                    <div class="pass">
                                        <div class="flex-infor">
                                            <div style="width: 120px;">Họ và tên: </div>
                                            <label class="label-infor" for="">
                                                <%=user.fullname%>
                                            </label>
                                        </div>
                                        <div class="flex-infor">
                                            <div style="width: 120px;">Email: </div>
                                            <label class="label-infor" for="">
                                                <%=email%>
                                            </label>
                                        </div>
                                        <div class="flex-infor">
                                            <div style="width: 120px;">Số điện thoại: </div>
                                            <%if (typeof user.phone!="undefined" ){%>
                                                <label class="label-infor" for="">
                                                    <%=user.phone%>
                                                </label>
                                                <%} else {%>
                                                    <label class="label-infor" for="">Chưa cập nhật</label>
                                                    <%}%>

                                        </div>
                                        <div class="flex-infor">
                                            <div style="width: 120px;">Giới tính: </div>
                                            <%if (typeof user.gender!="undefined" ){%>
                                                <label class="label-infor" for="">
                                                    <%=user.gender%>
                                                </label>
                                                <%} else {%>
                                                    <label class="label-infor" for="">Chưa cập nhật</label>
                                                    <%}%>
                                        </div>
                                        <div class="flex-infor">
                                            <div style="width: 120px;">Ngày sinh: </div>
                                            <%if (typeof user.birthday!="undefined" ){%>
                                                <% var newDateArr=user.birthday.split('-') %>
                                                    <%var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0]; %>
                                                        <label class="label-infor" for="">
                                                            <%=newDate%>
                                                        </label>
                                                        <%} else {%>
                                                            <label class="label-infor" for="">Chưa cập nhật</label>
                                                            <%}%>

                                        </div>
                                    </div>

                                </div>
                                <div class="right-infor" style="    margin-top: 30px;">
                                    <div class="avt">
                                        <%if (user.photo!="" ){%>
                                            <img class="avt-img" src="/img/users/<%=user.email%>/<%=user.photo%>"
                                                alt="">
                                            <%} else {%>
                                                <img class="avt-img" src="/img/user.png" alt="">
                                                <%}%>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </body>
    <%- include ('../layouts/footer') %>
    <link rel="stylesheet" href="/css/changeinfor.css" />

    </html>