<%- include ('../layouts/header') %>

    <body>


        <!-- menu -->
        <div class="wrapper-index">



            <!-- list action bên trái, đưa ra 1 cái ejs để link vào hiển thị nội dung -->
            <div class="account">
            <%- include ('../layouts/user-header') %>


            <!-- đơn mua -->
            <div class="details">
                <div class="main1">
                    <h3>Đơn mua</h3>
                    <p>Theo dõi lịch sử đặt vé của bạn dễ dàng</p>
                </div>
                <div class="main2">
                    <ul class="nav nav-tabs menu-status " style="justify-content: space-between;">
                        <li class="stt-list nav-item" style="    width: 100%; flex: 1;     text-align: center;">
                            <a class="nav-link link1 active" href="#change1" data-bs-toggle="tab"
                                data-bs-target="#change1" role="tab" aria-controls="status" aria-selected="true">Đã
                                đặt</a>
                        </li>
                        <li class="stt-list nav-item" style="    width: 100%; flex: 1;     text-align: center;">
                            <a class="nav-link link1" href="#change2" data-bs-toggle="tab" data-bs-target="#change2"
                                role="tab" aria-controls="status" aria-selected="true">Đã sử dụng</a>

                        </li>
                        <li class="stt-list nav-item" style="    width: 100%; flex: 1;     text-align: center;">
                            <a class="nav-link link1" href="#change3" data-bs-toggle="tab" data-bs-target="#change3"
                                role="tab" aria-controls="status" aria-selected="true">Đã hủy</a>

                        </li>
                    </ul>

                    <div class="tab-content">

                        <!-- đơn đã đặt -->

                        <div class="tab-pane active infor-change" id="change1" role="tabpanel">
                            <form action="">
                                <div class="infor-frame">
                                    <% if (bill.length!=0){%>
                                    <%for (var i=0;i<bill.length;i++){%>
                                        <div class="donmua-each">
                                            <div class="donmua-up">
                                                <div class="img-each">
                                                    <%if (photo[i].id!=""){%>
                                                        <img class="img-donmua" src="/img/films/<%=photo[i].id%>/<%=photo[i].photo%>" alt="">
                                                    <%} else {%>
                                                        <img class="img-donmua" src="/img/noimage.png" alt="">
                                                    <%}%>
                                                    
                                                </div>
                                                <div class="infor-main">
                                                    <div class="infor-each">
                                                        <div style="width: 70px;">Tên phim: </div>
                                                        <div class="infor-sub">
                                                            <div><%=bill[i].nameEN%> </div>
    
                                                        </div>
                                                    </div>
                                                    <div class="infor-each">
                                                        <div style="width: 70px;">Thời gian: </div>
                                                        <div class="infor-sub">
                                                            <div><%=time[i]%></div>
                                                        </div>
                                                    </div>
                                                    <div class="infor-each">
                                                        <div style="width: 70px;">Số ghế: </div>
                                                        <div class="infor-sub">
                                                            <div><%=seat[i]%></div>
                                                        </div>
                                                    </div>
                                                    <div class="infor-each">
                                                        <div style="width: 70px;">Rạp: </div>
                                                        <div class="infor-sub">
                                                            <div>CINEMA <%=bill[i].room%></div>
                                                        </div>
                                                    </div>
                                                    <div class="infor-each">
                                                        <div style="width: 70px;">COMBO: </div>
                                                        <div class="infor-sub">
                                                            <div><%=snack[i]%></div>
                                                        </div>
                                                    </div>
                                                    <div class="infor-each">
                                                        <div style="width: 70px; font-size: 20px;font-weight: 700;">TỔNG:
                                                        </div>
                                                        <div style="margin-left: 20px; font-size: 20px; font-weight: 700;">
                                                            <div><%=bill[i].totalPrice%> VND</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="donmua-down">
                                                <div class="button-each">
                                                    <button type="button" class="btn btn-infor btnQr" id="<%=bill[i].idB%>" style=" padding: 5px;
                                                    width: 100px;margin-right: 10px;">Mã QR</button>
                                                    <a class="confirmdelete" href="/user/purchase/cancel/<%=bill[i].idB%>"><button type="button" class="btn btn-infor" id="huybtn" style=" padding: 5px;
                                                        width: 100px;" 
                                                        <%if (bill[i].expired==1){%> disabled<%}%>>Hủy</button></a>  
                                                </div>
                                            </div>
                                        </div>
                                    <%}%>
                                    <%} else {%>
                                        <h1>Không có đơn nào</h1>
                                    <%}%>
                                    <!-- modal mã qr cho button sử dụng -->
                                        
                                    <div id="myModal" class="modal" style="margin-top: -50px">
                                        <div class="modal-content" style="width: 50%; font-size: 16px;">

                                            <form action="">
                                                <div class="modal-body" style="color: #333;">

                                                    <div class="ad-phim">
                                                        <h3 style="margin-top: 20px; font-size: 40px;
                                                            font-weight: 700;">Mã vé đặt hàng
                                                    </div>
                                                    <div class="ad-phim"
                                                        style="display: block; text-align: left;">
                                                        <div class="containQR">
                                                            <div style="width:100% ;     padding: 0 0px 0px 100px"
                                                            id="qrcode"></div>
                                                        </div>

                                                        <div
                                                            style="font-size: 16px; font-style: italic; margin-top: 20px;">
                                                            *Vui lòng đưa mã QR cho nhân
                                                            viên
                                                            khi bạn đến xem phim</div>
                                                        <div style="font-size: 16px; font-style: italic; ">
                                                            *Mã QR chỉ có giá trị sử dụng 30 phút trước
                                                            giờ chiếu
                                                            phim</div>

                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="suaclose"
                                                        data-dismiss="modal"
                                                        style=" color: #333;
                                                    background: rgb(254 199 88); padding: 5px 10px; border: 1px; border-radius: 5px;">Đóng</button>
                                                </div>
                                            </form>


                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <!-- đơn đã sử dụng -->
                        <div class="tab-pane" id="change2" role="tabpanel">
                            <form action="">
                                <div class="infor-frame">
                                    <%if (billUn.length!=0){%>
                                    <%for (var i=0;i<billUn.length;i++){%>
                                    <div class="donmua-each">
                                        <div class="donmua-up">
                                            <div class="img-each">
                                                <%if (photoUn[i].id!=""){%>
                                                    <img class="img-donmua" src="/img/films/<%=photoUn[i].id%>/<%=photoUn[i].photo%>" alt="">
                                                <%} else {%>
                                                    <img class="img-donmua" src="/img/noimage.png" alt="">
                                                <%}%>
                                                
                                            </div>
                                            <div class="infor-main">
                                                <div class="infor-each">
                                                    <div style="width: 70px;">Tên phim: </div>
                                                    <div class="infor-sub">
                                                        <div><%=billUn[i].nameEN%> </div>
                                                    </div>
                                                </div>
                                                <div class="infor-each">
                                                    <div style="width: 70px;">Thời gian: </div>
                                                    <div class="infor-sub">
                                                        <div><%=timeUn[i]%></div>
                                                    </div>
                                                </div>
                                                <div class="infor-each">
                                                    <div style="width: 70px;">Số ghế: </div>
                                                    <div class="infor-sub">
                                                        <div><%=seat[i]%></div>
                                                    </div>
                                                </div>
                                                <div class="infor-each">
                                                    <div style="width: 70px;">Rạp: </div>
                                                    <div class="infor-sub">
                                                        <div>CINEMA <%=billUn[i].room%></div>
                                                    </div>
                                                </div>
                                                <div class="infor-each">
                                                    <div style="width: 70px;">COMBO: </div>
                                                    <div class="infor-sub">
                                                        <div><%=snack[i]%></div>
                                                    </div>
                                                </div>
                                                <div class="infor-each">
                                                    <div style="width: 70px; font-size: 20px;font-weight: 700;">TỔNG:
                                                    </div>
                                                    <div style="margin-left: 20px; font-size: 20px; font-weight: 700;">
                                                        <div><%=billUn[i].totalPrice%> VND</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="donmua-down">
                                            <div class="button-each">
                                                <button type="button" class="btn btn-infor" id="myBtn" style=" padding: 5px;
                                                width: 120px;margin-right: 10px;" disabled>Đã sử dụng</button>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                <%} else {%>
                                    <h1>Không có đơn nào</h1>
                                <%}%>
                                </div>
                            </form>
                        </div>
                        <!-- đơn hủy -->
                        <div class="tab-pane" id="change3" role="tabpanel">
                            <form action="">
                                <div class="infor-frame">
                                    <%if (billCa.length!=0){%>
                                        <%for (var i=0;i<billCa.length;i++){%>
                                            <div class="donmua-each">
                                                <div class="donmua-up">
                                                    <div class="img-each">
                                                        <%if (photoCa[i].id!=""){%>
                                                            <img class="img-donmua" src="/img/films/<%=photoCa[i].id%>/<%=photoCa[i].photo%>" alt="">
                                                        <%} else {%>
                                                            <img class="img-donmua" src="/img/noimage.png" alt="">
                                                        <%}%>
                                                        
                                                    </div>
                                                    <div class="infor-main">
                                                        <div class="infor-each">
                                                            <div style="width: 70px;">Tên phim: </div>
                                                            <div class="infor-sub">
                                                                <div><%=billCa[i].nameEN%> </div>
        
                                                            </div>
                                                        </div>
                                                        <div class="infor-each">
                                                            <div style="width: 70px;">Thời gian: </div>
                                                            <div class="infor-sub">
                                                                <div><%=timeCa[i]%></div>
                                                            </div>
                                                        </div>
                                                        <div class="infor-each">
                                                            <div style="width: 70px;">Số ghế: </div>
                                                            <div class="infor-sub">
                                                                <div><%=seatCa[i]%></div>
                                                            </div>
                                                        </div>
                                                        <div class="infor-each">
                                                            <div style="width: 70px;">Rạp: </div>
                                                            <div class="infor-sub">
                                                                <div>CINEMA <%=billCa[i].room%></div>
                                                            </div>
                                                        </div>
                                                        <div class="infor-each">
                                                            <div style="width: 70px;">COMBO: </div>
                                                            <div class="infor-sub">
                                                                <div><%=snack[i]%></div>
                                                            </div>
                                                        </div>
                                                        <div class="infor-each">
                                                            <div style="width: 70px; font-size: 20px;font-weight: 700;">TỔNG:
                                                            </div>
                                                            <div style="margin-left: 20px; font-size: 20px; font-weight: 700;">
                                                                <div><%=billCa[i].totalPrice%> VND</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="donmua-down">
                                                    <div class="button-each">
                                                        <button type="button" class="btn btn-infor" id="myBtn" style=" padding: 5px;
                                                        width: 120px;margin-right: 10px;" disabled>Đã hủy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                    <%} else {%>
                                        <h1 >Không có đơn nào</h1>
                                    <%}%>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
<script>
   

</script>
<link rel="stylesheet" href="/css/changeinfor.css" />
<script src="/js/bootstrap.js"></script>
<script src="/js/qrcode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>
    $('.confirmdelete').on('click',function(){
        if (!confirm('Bạn có chắc chắn hủy ?')) return false;
    })
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("suaclose")[0];
    // btn.onclick = function () {
    //     modal.style.display = "block";
    // }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            $('.containQR').html(null);
        }
        
    }
    $('.btnQr').each(function(){
        $this=$(this);
        var id=$this.attr('id');
        $this.on('click',function(){
            $('.containQR').html(`<div style="width:100% ;     padding: 0 100px 0px 200px"
                                                            id="qrcode"></div>`)
            var qrcode = new QRCode(document.getElementById('qrcode'), {
            text: id,
            width: 300,
            height: 300,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
            });
            modal.style.display = "block";
        })
        
    })
    
</script>

</html>