<%- include ('../layouts/header') %>
    <div class="dathang">

        <div class="h5-detail">Thông tin đặt vé</div>
        <span class="line-detail"></span>
        <div class="dathang-left">
            <div class="input-dathang">
                <form action="/order/ordered" method="post">
                    <input type="hidden" name="seat" value="<%=seat%>">
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Tên khách hàng</label>
                        <input class="input-sua" name="username" type="text">
                    </div>
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Số điện thoại</label>
                        <input class="input-sua" name="phone" type="text">
                    </div>
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Tên phim</label>
                        <div>
                            <div>
                                <%=nameEN%>
                            </div>
                        </div>

                    </div>
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Suất chiếu</label>
                        <div>
                            <%=date%>
                                <%=time%>
                        </div>
                    </div>
                    <div class="ad-phim">
                        <%var total=0;%>
                            <label class="label-dathang" for="">Ghế/Vé</label>
                            <div>
                                <%chair.forEach(function(ch){%>
                                    <%total=total+ch.price;%>
                                        <%=ch.nameChair%>
                                            <%})%>
                            </div>
                    </div>
                    
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Phòng</label>
                        <div>CINEMA <%=room%>
                        </div>
                    </div>
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Món gọi kèm</label>
                        <%for(var i=0;i<photoSn.length;i++){%>
                            <div class="combo-dathang">
                                <img src="/img/snacks/<%=photoSn[i].id%>/<%=photoSn[i].photo%>"
                                    style="width: 100%; margin-top: 10px;">
                                <label style="font-size: 16px; font-style: italic;">
                                    <%=snacks[i].name%> x<%=snacks[i].quantity%>
                                </label>
                                <label style="font-size: 16px; font-style: italic;">
                                    <%=photoSn[i].price%> VNĐ
                                </label>

                                <input type="hidden" name="snacks" value="<%=snacks[i].name%>">
                                <input type="hidden" name="quantitySn" value="<%=snacks[i].quantity%>">
                                <input type="hidden" name="priceSn" value="<%=photoSn[i].price%>">
                            </div>
                            <%total=total+photoSn[i].price*snacks[i].quantity%>
                                <%}%>
                    </div>
                    <div class="ad-phim">
                        <label class="label-dathang" for="">Tổng tiền</label>
                        <div>
                            <%=total%> VNĐ
                        </div>
                    </div>
                    <div class="ad-phim">

                        <div style="font-style: italic; font-size: 14px; margin-top: 20px;">*Vui lòng kiểm tra lại thông
                            tin
                            suất chiếu trước khi tiến hành đặt vé</div>
                    </div>
                    <div class="ad-phim" style="justify-content: center;">
                        <button style="margin-top: 10px" type="submit" class="btn btn-danger btn-buy">Đặt vé</button>
                    </div>
                    <input type="hidden" name="total" value=<%=total%>>
                </form>

                
            </div>

        </div>



    </div>
</body>
<script src="/js/qrcode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
<script>
    var value = $('#qrcode').attr('qrvalue');
    var qrcode = new QRCode(document.getElementById('qrcode'), {
        text: value,
        width: 300,
        height: 300,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.H
    });
</script>

</html>