
<%- include ('../layouts/header') %>
<body>
    
    <!-- menu -->
    <div class="wrapper-index">
       
        <!-- slide poster phim -->
        <div class="poster-index">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <%filmslide.forEach(function(fi){%>
                    <a href="/film/detail/<%=fi.slug%>" class="item-slide"><img class="poster-slide" src="/img/films/<%=fi._id%>/<%=fi.photo%>" alt="Owl Image"></a>
                <%})%>
                
            </div>
        </div>
    </div>
    <div class="theloai-body">
        <div class="h5-detail"><%=type%></div>
        <span class="line-detail"></span>
        <div class="theloai-list">
            <a href="/film/type/Kinh dị">
                <div class="theloai-sub">Kinh dị</div>
            </a>
            <a href="/film/type/Tình cảm">
                <div class="theloai-sub">Tình cảm</div>
            </a>
            <a href="/film/type/Hành động">
                <div class="theloai-sub">Hành động</div>
            </a>
            <a href="/film/type/Hài hước">
                <div class="theloai-sub">Hài hước</div>
            </a>
            <a href="/film/type/Hoạt hình">
                <div class="theloai-sub">Hoạt hình</div>
            </a>
            <a href="/film/type/Lịch sử">
                <div class="theloai-sub">Lịch sử</div>
            </a>
        </div>
        <div class="theloai-movie">
            <div class="flex-poster-theloai">
                <%if (filmtype.length !=0){%>
                <%filmtype.forEach(function(fi){%>
                    <a class="item-slide" href="/film/detail/<%=fi.slug%>">
                        <div class="poster-movie-div" style="    width: 360px;">
    
                            <div class="ten-theloai"><%=fi.status%></div>
                            <img class="poster-movie" src="/img/films/<%=fi._id%>/<%=fi.photo%>">
    
                            <div class="movie-img">
                                <div class="h6-poster"><%=fi.nameEN%>
    
                                    <img class="img-cs" src="/img/cs<%=fi.agelimit%>.png">
    
                                </div>
                            </div>
                            <div class="side-poster"><%=fi.nameVN%></div>
                        </div>
                    </a>
                <%})%>
                <%} else {%>
                    <h1>Hiện tại chưa có phim nào</h1>
                <%}%>
                
                
            </div>
        </div>
</body>
<%- include ('../layouts/footer') %>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

            autoPlay: 4000,

            items: 1,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });

    });
</script>
<link rel="stylesheet" href="/css/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="/css/owl.theme.css">

<!-- Include js plugin -->
<script src="/js/owl.carousel.js"></script>

</html>