<%- include ('../layouts/header') %>

    <body>
        <!-- nội dung -->
        <div class="detail-title">
            <div class="h5-detail">Nội dung phim</div>
            <span class="line-detail"></span>
            <div class="flex-detail">
                <div class="flex-img">
                    <div class="flex-title">
                        <a href="#">
                            <div class="flex-cs">
                                <div class="h6-poster">
                                    <%=film.nameEN%>
                                </div>
                                <div class="side-poster">
                                    <%=film.nameVN%>
                                </div>
                            </div>
                        </a>
                        <div class="cs">
                            <img class="img-cs" <% if (film.agelimit==18){%>
                            src="/img/cs18.png">
                            <%} else if (film.agelimit==16){%>
                                src="/img/cs16.png">
                                <%}else {%>
                                    src="/img/cs13.png">
                                    <%}%>
                        </div>

                    </div>
                    <div class="detail-noidung">

                        <div class="detail-left " style="align-items: flex-start;">
                            <img class="detail-img" src="/img/films/<%=film._id%>/<%=film.photo%>">
                            <div style="display: flex; max-width: 400px;
                            width: 100%;justify-content: center;">
                            <%if (film.status=="Đang khởi chiếu"){ %>
                                <button type="button" class="btn btn-danger btn-buy" data-toggle="modal" data-target="#myModal">
                                    Mua vé
                               </button>
                            <%} else {%>
                                <button type="button" class="btn btn-danger btn-buy" data-toggle="modal" data-target="#myModal" disabled>
                                    <%=film.status%>
                               </button>
                            <%}%>
                        </div> 
                            
                     
                           <!-- bảng pop up  -->
                           <div class="modal" id="myModal">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h4 class="modal-title">Chi tiết mua vé</h4>
                                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                   <form action="/order" method="get">
                                    <%if (date.length!=0){%>
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn ngày</h6>
                                        <div class="form-group">
                                            <%date.sort()%>
                                            <select name="date" id="dateShow" film="<%=film.nameEN%>" class="form-select" aria-label="Default select example">
                                                <option value="none" selected>Chọn ngày chiếu</option>
                                                <%date.forEach(function(dt){%>
                                                    <% var newDateArr = dt.split('-') %>
                                                    <%var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0]; %>
                                                    <option value=<%=dt%>><%=newDate%></option>
                                                <%})%>
                                              </select>
                                            <span class="span-error" id="birth_error"></span>
                                        </div>
                                        <input type="hidden" name="nameEN" value="<%=film.nameEN%>">
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn suất chiếu</h6>
                                        <div id="showtime" class="flex-time-detail1">
                                            
                                        </div>
                                     </div>
                                     <div class="modal-footer" style="    height: 90px;">
                                         <p style="color: red;  margin-right: 90px;" class="alert span-error"></p>
                                        <button style="    position: absolute;" type="submit" class="btn btn-danger btn-submit" >Tiếp tục</button>
                                     </div>
                                     <%} else { %>
                                        <p style="    padding: 20px;">Phim này hiện chưa có suất chiếu</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"  >OK</button>
                                         </div>
                                    <%}%>
                                     <!-- <div class="modal-body">
                                        <h6 class="modal-title">Chọn phòng</h6>
                                        <div class="form-group">
                                            <select name="room" id="roomShow" film="<%=film.nameEN%>" class="form-select" aria-label="Default select example">  
                                                
                                              </select>
                                            <span class="span-error" id="birth_error"></span>
                                        </div>
                                        
                                    </div> -->
                                    
                                </form>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="detail-right">
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Đạo diễn:</div>
                                    <div class="sub2">
                                        <%=film.director%>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Diễn viên:</div>
                                    <div class="sub2">
                                        <%=film.actor%>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Thể loại:</div>
                                    <div class="sub2">
                                        <%=film.type%>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Khởi chiếu:</div>
                                    <div class="sub2">
                                        <% var newDateArr = film.showdate.split('-') %>
                                        <%var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0]; %>
                                        <%=newDate%>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Thời lượng:</div>
                                    <div class="sub2">
                                        <%=film.time%> Phút
                                    </div>
                                </div>
                            </div>
                            <div class="detail-sub">
                                <div class="subin">
                                    <div class="sub1">Chi tiết:</div>
                                    <div class="sub2-chitiet">
                                        <%=film.detail%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trailer-detail">
                        <div class="trailer-title">Trailer</div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=film.trailerId%>"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </iframe>
                    </div>

                </div>
            </div>
        </div>
    </body>
    <%- include ('../layouts/footer') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $('#dateShow').change(function(e){
            $('.alert').html(null);
            var value= $(this).val();
            var nameEN= $(this).attr('film');
            $.ajax({
                    url: "/film/loadTime",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ value: value, nameEN: nameEN }),
                    success: function (result) {
                        $('#showtime').html(result.timeCode);
                     }
                })
        })
        
        $('.btn-submit').click(function(e){
            var date=$('#dateShow').val();
            var timeChecked=$('.choosetime:checked').length;
            if (date=="none"){
                e.preventDefault();
                $('.alert').text('Chưa chọn ngày chiếu')
            } else {
                    if (timeChecked==0){
                    e.preventDefault();
                    $('.alert').text('Chưa chọn suất chiếu')
                } 
            }
        })
        function clearAlert(){
            $('.alert').html(null);
        }
        // function handleClick(myrdo){
        //     var date=$('#dateShow').val();
        //     var nameEN= $('#dateShow').attr('film');
        //     var time=myrdo.value;
        //     $.ajax({
        //             url: "/film/loadRoom",
        //             method: "POST",
        //             contentType: "application/json",
        //             data: JSON.stringify({ time: time, nameEN: nameEN,date:date }),
        //             success: function (result) {
        //                 $('#roomShow').html(result.roomCode);
        //              }
        //         })
        // }
    </script>